.todo-list-item {
  font-size: 1.25rem;
  color: grey;
}

.todo-list-item button {
  width: 35px;
  margin: 3px;
}

.todo-list-item-label {
  margin-left: 1.25rem;
  line-height: 35px;
  cursor: pointer;
  user-select: none;
}

.todo-list-item.done .todo-list-item-label {
  text-decoration: line-through;
}

.todo-list-item.important .todo-list-item-label {
  font-weight: bold;
  color: #76aec6;
}
.btn-outline-danger {
  color: #c67676;
  border-color: #c67676;

  &:hover {
    color: white;
    background: #c67676;
    border-color: #c67676;
  }
}

.btn-outline-success {
  color: #76c68a;
  border-color: #76c68a;

  &:hover{
    color: white;
    background: #76c68a;
    border-color: #76c68a;
  }
}